<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{76,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{80,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{78,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{80,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{78,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{78,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet.png</string>
            <key>size</key>
            <string>{84,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4ac047d620b4db343acb537549b2407:5fc896f44353eacd553db594f305a554:c587330c4a48b4a3249f3ebb5c0e8bd8$</string>
            <key>textureFileName</key>
            <string>pet.png</string>
        </dict>
    </dict>
</plist>
